doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p", crossorigin="anonymous")
  body
    div(class='container')
      div(class='left-panel')
        ul(class='menu')
          li
            a(href='/inventory') Home
          li
            hr
          each cat in categories
            li
              a(href='/inventory/items/'+cat._id) #{cat.name}
          li
            hr
          li
            a(href='/inventory/category/create') Create new category
          li
            a(href='/inventory/item/create') Create new item
      div(class='right-panel')
        block content